.Dictionary section {
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 30px auto;
  max-width: 90%;
}

form {
  text-align: center;
  margin: 15px 0;
}

input {
  margin: 0 5px;
  width: 100%;
  padding: 10px 8px;
}
